/test
*.pyc
*.log
/.idea
a.csv
a.json
doc/
riskengine/tests/bom_audit/audit_result/
riskengine/tests/bom_audit/bom_in/
riskengine/tests/bom_audit/bom_in_1706/
riskengine/tests/bom_audit/bom_out/
riskengine/tests/bom_audit/bom_out_1706/
riskengine/tests/bom_audit/t1_result/20170627_bom_modify.csv
riskengine/tests/bom_audit/t1_result/re_34.csv
riskengine/tests/bom_audit/trans.py
riskengine/tests/data/
riskengine/tests/out_data/pdl/cg/
riskengine/tests/out_data/pdl/score_card/
riskengine/tests/out_data/pdl/test.json
riskengine/tests/out_data/pdl/test_1.json
riskengine/tests/regression/test.py
riskengine/tests/resources/
test.py
test.sh
test_bom.py
log/
riskengine/tests/bom_audit/bom_out_1707/
riskengine/tests/out_data/tongdun.csv
riskengine/tests/out_data/yysDetailFeature.csv
riskengine/tests/regression/data/rv_ncg/bom/
riskengine/tests/regression/data/thirdparty/bom/
riskengine/tests/regression/log/